[submodule "hippo-ai"]
	path = hippo-ai
	url = https://github.com/dilawar/hippo-ai
[submodule "PhotographyCompetition"]
	path = PhotographyCompetition
	url = git@github.com:dilawar/PhotographyCompetition
