#button_add_event {
    width : 20px;
    height : 20px;
    /*border-radius : 50%;*/
    border-style : none;
    background : lightblue;
    alignment : right;
    vertical-align: text-top;
}

table.input {
    text-align : left;
    background-color:lightyellow; 
    width : 500px; 
    border-width: 1px;
    border-type : dotted;
}

#table_request.tr td {
    border-width = 0.5px;
}

table.input {
    width : 500px
    text-align : left;
    background-color:lightyellow; 
    width : 500px; 
    border-width: 1px;
    border-type : dotted;
}

table.request {
    width : 500px;
    text-align : left;
    background-color:lightyellow; 
    border-width: 1px;
    border-type : dotted;
    font-size : x-small;
}

tr:nth-of-type( odd ) {
    background : #eee;
}

.goback {
    align : left ;
}

.update {
    position : absolute;
    align : right;
    left : 440px;
    border-type : dotted;
}

.submit {
    position : absolute;
    align : right;
    left : 440px;
    border-type : dotted;
}

p {
    font : serif;
    width : 500px;
}

p.info {
    color : blue;
    width : 500 px;
}
