#button_add_event {
    width : 20px;
    height : 20px;
    /*border-radius : 50%;*/
    border-style : none;
    background : lightblue;
    alignment : right;
    vertical-align: text-top;
}

#table_request {
    text-align : left;
    background-color:lightyellow; 
    width : 500px; 
    border-width: 1px;
    border-type : dotted;
}

#table_request.tr td {
    border-width = 0.5px;
}

table {
    width : 500px
    text-align : left;
    background-color:lightyellow; 
    width : 500px; 
    border-width: 1px;
    border-type : dotted;
}

.goback {
    align : left ;
}

.update {
    position : absolute;
    align : right;
    left : 440px;
    border-type : dotted;
}
