div.header {
    min-width : 500px;
    /*background-color : yellow;*/
}

div.user {
    float : right ;
    position : relative;
    /*border : 1px solid #73AD21;*/
}

div.info {
    /*border : 1px solid #73AD21;*/
    background: lightblue;
}

button.add_event {
    width : 20px;
    height : 20px;
    /*border-radius : 50%;*/
    border-style : none;
    background : lightblue;
    min-height : 20px;
    min-width : 20px;
}

button.add_event_past {
    width : 20px;
    height : 20px;
    /*border-radius : 50%;*/
    border-style : none;
    min-height : 20px;
    min-width : 20px;
}

button.display_event {
    min-height : 20px;
    min-width : 20px;
    /*border-radius : 50%;*/
    border-style : none;
    background : red;
    /*alignment : right;*/
    /*vertical-align: text-top;*/
}

button.display_request {
    min-height : 20px;
    min-width : 20px;
    /*border-radius : 50%;*/
    border-style : none;
    background : yellow;
    /*alignment : right;*/
    /*vertical-align: text-top;*/
}



table.input {
    text-align : left;
    background-color:lightyellow; 
    width : 500px; 
    border-width: 1px;
    border-type : dotted;
}

#table_request.tr td {
    border-width = 0.5px;
}

table.login_main {
    background-color : lightyellow;
    border-type : dotted;
    margin-left : 350px;
    postion : absolute;
}

table.input {
    width : 500px
    text-align : left;
    background-color:lightyellow; 
    width : 500px; 
    border-width: 1px;
    border-type : dotted;
}

table.request {
    text-align : left;
    background-color:lightyellow; 
    border-spacing: 3px;
    border-collapse : separate;
    padding : 3px;
    border-type : dotted;
}

table.eventline {
    widht : 1000px;
    table-layout : auto;
    text-align : left;
    background-color:lightyellow; 
    border-collapse : separate;
    padding : 3px;
    border : 1px solid;
    border-style : dotted;
}

table.eventline tr td  {
    width : 10%;
}

table.hourtable {
    table-layout : auto;
    background-color:lightyellow; 
}

table.hourtable tr td {
    width : 10%;
}


table.request tr:nth-of-type( odd ) {
    background : #eee;
}

.goback {
    align : left ;
}

.update {
    position : absolute;
    align : right;
    left : 440px;
    border-type : dotted;
}

.submit {
    position : absolute;
    align : right;
    left : 440px;
    border-type : dotted;
}

p {
    font : serif;
    width : 500px;
}

p.info {
    color : blue;
    width : 500 px;
}
