{
    font-family : open-sans, droid-serif, sans-serif, Verdana;
}

// img.login_picture and table.editable_user_picture should co-exists.
img.login_picture {
    width : 20%;
    height : auto;
    max-height : 300px;
}

table.editable_user_picture 
{
    min-width : 500px;
    max-width : 70%;
}

table.editable_user_picture tr td {
    text-align: left;
    background-color: lightyellow;
    word-wrap: break-word;
    max-width : 80%;
}

div.header {
    max-width : 800px;
}

div.bottom {
    position : fixed;
    bottom : 0;
    right : 0;
    font-size : xx-small;
    padding-top : 50px;
    font-color : red;
}

div.cell_content {
    min-width : 10px;
    max-height : 200px;
    overflow : auto;
}

table.user_float {
    position : fixed;
    top : 10px;
    left : 70%;
    max-width: 25%;
    border : 1px solid red;
    font-size : small;
}

table.show_user {
    max-width : 80%;
    min-width : 400px;
}

table.show_user tr td 
{
    /*border : 0.5px dotted; */
    min-width : 20%;
    background : lightyellow;
}


table.show_info tr td 
{
    /*border : 0.5px dotted; */
    min-width: 10%;
    max-width: 20%;
    background : lightyellow;
}

table.show_speaker tr td  {
    background : lightyellow;
}

table.show_info th
{
    font-size: xx-small;
}

table.show_aws {
    max-width : 1000px;
    min-width : 100%;
    background : lightyellow;
}

table.show_aws tr td:nth-child(odd)
{
    border : 0.5px dotted; 
    max-width : 20%;
    text-align : right;
    max-height: 3cm;
}
table.show_aws tr td:nth-child(even)
{
    border : 0.5px dotted; 
    text-align : left;
    min-width : 80%;
    max-height: 3cm;
}

table.show_calendar {
    max-width : 1000px;
    min-width : 100%;
    background : lightyellow;
}

table.show_calendar tr td:nth-child(1)
{
    border : 0.5px dotted; 
    max-width : 20%;
    text-align : right;
}

table.show_aws_summary {
    max-width : 1000px;
    min-width : 100%;
    background : lightyellow;
}


table.show_aws_summary tr td
{
    border : 1px dotted;
}

table.show_schedule {
    min-width : 500px;
    max-width : 80%;
}

table.show_schedule tr td
{
    border : 1px dotted;
    background: lightyellow;
}

table.show_schedule th
{
    background: lightblue;
    font-size : x-small;
}


div.info {
    /*border : 1px solid #73AD21;*/
    max-width : 800px;
    /*background: lightblue;*/
}

/* BUTTONS and INPUT */

input.long {
    min-width : 300px;
}

input.user_input_text {
    min-width : 300px;
}

// change them together.
button.add_event {
    width : 20px;
    height : 20px;
    border-style : none;
    background : lightblue;
    min-height : 20px;
    min-width : 20px;
}

button.display_event {
    min-height : 20px;
    min-width : 20px;
    border-style : none;
    background : red;
}

// Change both together.
button.add_event_with_public_event {
    width : 20px;
    height : 20px;
    border-style : none;
    background : gray;
    min-height : 20px;
    min-width : 20px;
}
button.display_event_with_public_event {
    min-height : 20px;
    min-width : 20px;
    border-style : none;
    background : gray;
}

button.add_event_past {
    width : 20px;
    height : 20px;
    border-style : none;
    min-height : 20px;
    min-width : 20px;
}



button.display_request {
    min-height : 20px;
    min-width : 20px;
    /*border-radius : 50%;*/
    border-style : none;
    background : yellow;
    /*alignment : right;*/
    /*vertical-align: text-top;*/
}

button.submit {
    float : right;
    alignment : right;
}



table.input {
    text-align : left;
    background-color:lightyellow; 
    min-width : 400px;
    max-width : 800px; 
}

table.input tr td:nth-child(odd) {
    text-align : right;
    min-width : 30%; 
    vertical-align : top;
    font-size : small;
}

table.input tr td:nth-child(even) {
    text-align : left;
    min-width : 70%; 
}

table.request {
    width : 100%;
}

table.show_requests {
    text-align : left;
    background-color:lightyellow; 
    border-collapse : separate;
    width : 100%;
}

table.show_events tr td  {
    layout : auto;
    text-align : left;
    background-color:lightyellow; 
    /*border-collapse : separate;*/
    /*border : 1px dotted;*/
}


table.submit_request tr {
    width : 90%;
}

table.submit_request.tr td {
    border-width = 0.5px;
}

table.event {
    text-align : left;
    background-color:lightyellow; 
    border-collapse : separate;
    border : 1px dotted;
    max-width : 90%;
}

table.editable_events {
    text-align : left;
    background-color:lightyellow; 
    border : 0px;
    /*max-width : 90%;*/
}

table.editable_logins {
    min-width: 300px;
    max-width: 80%;
}

table.editable_logins tr td {
    text-align: left;
    background-color: lightyellow;
    word-wrap: break-word;
    max-width : 70%;
}

.editable {
    min-width : 300px;
}

table.editable_faculty {
    text-align : left;
    min-width : 500px;
    background : lightyellow;
}


table.editable_faculty tr td 
{
    /*border : 0.5px dotted; */
    /*min-width : 20%;*/
}

div.image {
    max-width: 100%;
}

table.login_main {
    background-color : lightyellow;
}


table.eventline  {
    table-layout : fixed;
    text-align : left;
}

table.eventline tr td  {
    background-color:lightyellow; 
    padding : 1px;
}

table.hourtable {
    table-layout : fixed;
    background-color:lightyellow; 
}

table.hourtable tr td {
    width : 30px;
}


table.request tr:nth-of-type( odd ) {
    background : #eee;
}

table.admin {
    background : lightyellow;
    width : 80%;
    min-width : 500px;
    max-width : 90%;
}

table.admin td {
    border : 1px dotted;
    width : 50%;
}

.goback {
    align : left ;
}

.update {
    position : absolute;
    align : right;
    left : 440px;
    border-type : dotted;
}

.submit {
    position : absolute;
    align : right;
    left : 440px;
    border-type : dotted;
}

/* paragraphs */

p.info {
    max-width : 90%;
    min-width : 500px;
}

p.warn {
    color : red;
    width : 80% px;
    font-size : large;
}

p.note_to_user {
    font-size : small;
    color : grey;
    max-width : 80%;
}

div.alert_user {
   font-size : large;
   max-width : 500px;
   min-width : 300px;
   padding-bottom : 10px;
   background: white;
}

.db_table_fieldname {
    font-size : x-small;
}

table.summary {
    font-size : small;
    width : 100%;
}

table.summary tr td  {
    border : 1px dotted;
}

table.index {
    align : top;
    min-width : 50%;
};

table.index tr td {
    valign : top;
    min-width : 250px;
}

/* SELECT 
 */
select.supervisors {
    min-width : 300px;
}
