div.header {
    max-width : 800px;
}

div.bottom {
    position : fixed;
    bottom : 0;
    right : 0;
    font-size : xx-small;
    padding-top : 50px;
    font-color : red;
}


table.user_float {
    position : fixed;
    top : 10px;
    left : 70%;
    max-width: 25%;
    border : 1px solid red;
}

table.show_user {
    max-width : 80%;
    min-width : 500px;
    background : lightyellow;
}

table.show_user tr td 
{
    border : 0.5px dotted; 
    min-width : 20%;
}


table.show_aws {
    max-width : 1000px;
    min-width : 100%;
    background : lightyellow;
}


table.show_aws tr td:nth-child(odd)
{
    border : 0.5px dotted; 
    max-width : 20%;
    text-align : right;
}
table.show_aws tr td:nth-child(even)
{
    border : 0.5px dotted; 
    text-align : left;
    min-width : 80%;
}

table.show_aws_summary {
    max-width : 1000px;
    min-width : 100%;
    background : lightyellow;
}


table.show_aws_summary tr td
{
    border : 1px dotted;
    /*max-width : 20%;*/
}

table.show_schedule {
    min-width : 500px;
    max-width : 80%;
}

table.show_schedule tr td
{
    border : 1px dotted;
    background: lightyellow;
}

table.show_schedule th
{
    background: lightblue;
    font-size : x-small;
}


div.info {
    /*border : 1px solid #73AD21;*/
    max-width : 800px;
    background: lightblue;
}

/* BUTTONS and INPUT */

input.long {
    min-width : 300px;
}

input.user_input_text {
    min-width : 300px;
}

button.add_event {
    width : 20px;
    height : 20px;
    /*border-radius : 50%;*/
    border-style : none;
    background : lightblue;
    min-height : 20px;
    min-width : 20px;
}

button.add_event_with_public_event {
    width : 20px;
    height : 20px;
    border-style : none;
    background : blue;
    min-height : 20px;
    min-width : 20px;
}

button.add_event_past {
    width : 20px;
    height : 20px;
    /*border-radius : 50%;*/
    border-style : none;
    min-height : 20px;
    min-width : 20px;
}

button.display_event {
    min-height : 20px;
    min-width : 20px;
    /*border-radius : 50%;*/
    border-style : none;
    background : red;
    /*alignment : right;*/
    /*vertical-align: text-top;*/
}

button.display_event_with_public_event {
    min-height : 20px;
    min-width : 20px;
    border-style : none;
    background : blue;
}


button.display_request {
    min-height : 20px;
    min-width : 20px;
    /*border-radius : 50%;*/
    border-style : none;
    background : yellow;
    /*alignment : right;*/
    /*vertical-align: text-top;*/
}

button.submit {
    float : right;
    alignment : right;
}



table.input {
    text-align : left;
    background-color:lightyellow; 
    min-width : 500px;
    max-width : 800px;; 
}

table.input tr td:nth-child(odd) {
    text-align : right;
    min-width : 30%; 
    vertical-align : top;
    font-size : small;
}

table.input tr td:nth-child(even) {
    text-align : left;
    min-width : 70%; 
}

table.request {
    width : 100%;
}

table.request tr td {
}

table.show_requests {
    text-align : left;
    background-color:lightyellow; 
    border-collapse : separate;
    width : 100%;
}

table.show_events {
    text-align : left;
    background-color:lightyellow; 
    border-collapse : separate;
    border : 1px dotted;
    width : 100%;
}


table.submit_request tr {
    width : 90%;
}

table.submit_request.tr td {
    border-width = 0.5px;
}

table.event {
    text-align : left;
    background-color:lightyellow; 
    border-collapse : separate;
    border : 1px dotted;
    max-width : 90%;
}

table.editable_events {
    text-align : left;
    background-color:lightyellow; 
    border : 0px;
    /*max-width : 90%;*/
}

.editable {
    min-width : 300px;
}

table.editable_faculty {
    text-align : left;
    min-width : 500px;
    background : lightyellow;
}


table.editable_faculty tr td 
{
    /*border : 0.5px dotted; */
    /*min-width : 20%;*/
}

div.cell_content {
    max-height : 3cm;
    overflow: auto;
    font-size : small;
}


table.login_main {
    background-color : lightyellow;
}


table.eventline {
    widht : 1000px;
    table-layout : auto;
    text-align : left;
    background-color:lightyellow; 
    border-collapse : separate;
    padding : 3px;
    border : 1px solid;
    border-style : dotted;
}

table.eventline tr td  {
    width : 10%;
}

table.hourtable {
    table-layout : auto;
    background-color:lightyellow; 
}

table.hourtable tr td {
    width : 10%;
}


table.request tr:nth-of-type( odd ) {
    background : #eee;
}

table.admin {
    background : lightyellow;
    min-width : 500px;
    max-width : 1000px;
}

table.admin tr td {
    border : 1px dotted;
}

.goback {
    align : left ;
}

.update {
    position : absolute;
    align : right;
    left : 440px;
    border-type : dotted;
}

.submit {
    position : absolute;
    align : right;
    left : 440px;
    border-type : dotted;
}

/* paragraphs */

p {
    font : serif;
}

p.info {
    color : blue;
    max-width : 800px;
}

p.warn {
    color : red;
    width : 80% px;
    font-size : large;
}

p.note_to_user {
    font-size : small;
    color : grey;
    max-width : 80%;
}

p.alert_user {
   /*font-size : small;*/
   border : 1px dotted;
   background : lightblue;
   max-width : 80%;
   min-width : 500px;
}

.db_table_fieldname {
    font-size : x-small;
}

table.summary {
    font-size : x-small;
    width : 100%;
}

table.index {
    align : top;
    min-width : 50%;
};

table.index tr td {
    valign : top;
    min-width : 250px;
}


/* SELECT 
 */
select.supervisors {
    min-width : 300px;
}
