<div class="cal-month-day <%= cls %>">
    <!-- Add a button to add event -->
    <form action="add_event.php" method="post" accept-charset="utf-8">
        <input id="button_add_event", type="submit" value="+" >
    </form>
    <span class="pull-right" data-cal-date="<%= data_day %>" data-cal-view="day" data-toggle="tooltip" title="<%= tooltip %>"><%= day %></span>
    <% if (events.length > 0) { %>
    <div class="events-list" data-cal-start="<%= start %>" data-cal-end="<%= end %>">
        <% _.each(events, function(event) { %>
        <a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>" data-event-class="<%= event['class'] %>"
            class="pull-left event <%= event['class'] %>" data-toggle="tooltip"
            title="<%= event.title %>"></a>
        <% }); %>
    </div>
    <% } %>
</div>
