<!DOCTYPE html>
<html lang="en">

    <head>
        {% block head %}

        <link href="../../../node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" 
            type="text/css" />
        <link href="static/hippo.css" rel="stylesheet" type="text/css" />

        <title> Hippo - {% block title %}{% endblock %} </title>
        {% endblock %}
    </head>

    <body>
    <h1><a href="/">NCBS Hippo</a></h1>

        <table class="public_links">
            <tr>
            <td> <a href="events" target="hippo_popup">Bookings</a></td>
            <td> <a href="AWSs" target="hippo_popup">AWSs</a> </td>
            <td> <a href="talks" target="hippo_popup">Talks</a> </td>
            <td> <a href="JCs" target="hippo_popup">JCs</a> </td>
            <td> <a href="statistics" target="hippo_popup" >Statistics </a> </td>
            <td> <a href="courses" target="hippo_popup" >Courses</a></td>
            <td> <a href="map" target="hippo_popup" >Map</a></td>
            </tr>
        </table>

        {% if AUTHENTICATED %}
	    <table class="user_float">
		<tr colspan="2">
		    <th>Hi  {{ user }} </th>
		    <th><a href="logout"><i class="fa fa-sign-out"></i>SignOut</a></th> 
		</tr>
		<tr>
		    <td><a href="quickbook"><i class="fa fa-hand-pointer-o"></i>QuickBook</a> </td>
		    <td><a href="user"><i class=\fa fa-home\></i>My Home</a> </td>
		</tr>
	    </table>
        {% else %}
            <!-- <p class="warn">Not authenticated!</p> -->
	{% endif %}

	<div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>

