{% extends "home.jinja2" %}

{% block content %}

<span tal:replace="message"/>
<span tal:replace="explanation"/>

<form action="{{ url }}" method="post">
<table class="login_main">
<tr>
<td>
<input type="hidden" name="came_from"
       value="{{ came_from }}"/>
<label for="login">Username</label>
<input type="text" id="login"
       name="login"
       placeholder="NCBS/InSTEM Username"
       value="{{ login }}"/></td></tr>
<tr><td>
<label for="password">Password</label>
<input type="password" id="password"
       name="password"
       placeholder="Password"
       value="{{ password }}"/>
<input type="submit" name="form.submitted" value="Log In"/>
    </td></tr>
</table>
</form>

{% include "footer.html" %}

{% endblock %}
