{% extends "header.html" %}

{% block content %}

<h1> Welcome {{ user }} </h1>

<table class="admin">
    {% for row in [ [ 'My Profile', 'My NCBS' ], [ 'My Courses', 'My AWS' ] ] %}
        <tr>
            {% for v in row %}
                <td> <a href="user/{{ v|replace(' ', '') }}">{{ v }}</a></td>
            {% endfor %}
        </tr>
    {% endfor %}
    
</table>

{% endblock %}
